body {
    font-family: sans-serif;
     }

header,img {
    background-color:aquamarine;
    border-radius:10px;
    margin:5px;
}
h1{
    color:purple;
}
footer {
   background-color:pink ;
   padding: 10px;
}
footer p{
    background-color: white;
    padding: 5px;
}
